*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: rgb(245, 230, 219);
}

h1, footer{
    margin: 35px 0;
    padding: 10px;
    color: snow;
    background-color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background-color: rgb(134, 134, 182);
    border-radius: 10px;
    border: 1px solid black;
}

img{
    border-radius: 50px;
    border: 10px solid black;
    max-width: 300px;
    margin: 10px;
}
p{
    font-size: 20px;
}